asgiref==3.7.2
backports.zoneinfo==0.2.1
beautifulsoup4==4.12.2
bs4==0.0.1
certifi==2023.7.22
charset-normalizer==3.2.0
click==8.1.7
decorator==5.1.1
Django==4.2.4
future==0.18.3
geocoder==1.38.1
greenlet==2.0.2
idna==3.4
leaflet==0.0.3
lxml==4.9.3
numpy==1.24.4
pandas==2.0.3
PyMySQL==1.1.0
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2023.3
ratelim==0.1.6
requests==2.31.0
six==1.16.0
soupsieve==2.5
SQLAlchemy==2.0.20
sqlparse==0.4.4
typing-extensions==4.7.1
tzdata==2023.3
urllib3==2.0.4
